<h1>Add Student</h1>


<form [formGroup]="form" (ngSubmit)="add()">

  <mat-form-field  appearance="fill">
    <mat-label>
      Id
    </mat-label>
    <input type="number"  formControlName="id" matInput>
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>
      Name
    </mat-label>
    <input type="text"  formControlName="name" matInput>
  </mat-form-field>
  
  <mat-form-field  appearance="fill">
    <mat-label>
      Lastname
    </mat-label>
    <input type="text"  formControlName="lastname" matInput>
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>
      Course
    </mat-label>
    <input type="text"  formControlName="course" matInput>
  </mat-form-field>

  <mat-form-field  appearance="fill">
    <mat-label>
      Score
    </mat-label>
    <input type="text"  formControlName="score" matInput>
  </mat-form-field>

  <mat-slide-toggle formControlName="enrolled"> Enrolled </mat-slide-toggle>

  <br><br>

  <button  click="add()" mat-icon-button color="primary">
    <mat-icon fontIcon="person_add"></mat-icon>
  </button>

</form>


