<mat-toolbar color="primary" class="titulo mt-4">
  <div align="center" appTitulo>Add User</div>
</mat-toolbar>

<div mat-dialog-content class="titulo mt-4">
  <form
    [formGroup]="form"
    align="center"
    (ngSubmit)="addUser()"
    style="width: 10px"
  >
    <mat-form-field appearance="fill">
      <mat-label>UserName</mat-label>
      <input formControlName="username" matInput type="text" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Avatar</mat-label>
      <input formControlName="avatar" matInput type="text"/>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Admin</mat-label>
      <input formControlName="admin" matInput type="text"/>
    </mat-form-field>
  </form>
  <div mat-dialog-actions align="center">
    <button mat-button (click)="toClose()">To Close</button>
    <button mat-button type="submit" (click)="addUser()">Add</button>
  </div>
</div>
<hr />
