<div class="container">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="https://getbootstrap.com/docs/5.2/components/navs-tabs/"
        target="blank"
        >Get Bootstrap</a
      >
    </li>
    <li class="nav-item">
      <a  routerLink="students" target="blank"
        >Students</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="begin" target="blank"
        >Begin</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.coderhouse.com/" target="blank"
        >Coderhouse</a
      >
    </li>
  </ul>
</div>
